aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
asgiref==3.10.0
attrs==25.4.0
dj-database-url==3.0.1
Django==5.2.7
frozenlist==1.8.0
gunicorn==23.0.0
idna==3.11
multidict==6.7.0
packaging==25.0
propcache==0.4.1
psycopg2-binary==2.9.11
slack_sdk==3.37.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0
yarl==1.22.0
